OPENROUTER_API_KEY=sk-or-v1-5794a8b038307965ef5bcdfea40fcfc18
OPENROUTER_BASE_URL=https://apirouter.zhiqiteai.cn/ApiRouterServ/v1
OPENROUTER_MODEL=google/gemini-3-flash-preview
OPENROUTER_MUSIC_BASE_URL=https://apirouter.zhiqiteai.cn/ApiRouterServ/v1
OPENROUTER_MUSIC_MODEL=google/lyria-3-clip-preview

RAW_VIDEO_PATH=data/raw/input.mp4
VICTORY_TEMPLATE_PATH=assets/victory_template.png
OUTPUT_VIDEO_PATH=data/processed/highlight.mp4
